{
	"semi": true,
	"tabWidth": 4,
	"printWidth": 80,
	"useTabs": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"overrides": [
		{
			"files": ["*.ts", "*.tsx", "*.js"],
			"options": {
				"semi": true,
				"tabWidth": 4,
				"useTabs": true,
				"quoteProps": "as-needed",
				"bracketSpacing": true,
				"bracketSameLine": true,
				"printWidth": 80
			}
		}
	]
}
